<p id="notice"><%= notice %></p>

<p>
  <strong>Index:</strong>
  <%= @resto_storefront.index %>
</p>

<%= link_to 'Edit', edit_resto_storefront_path(@resto_storefront) %> |
<%= link_to 'Back', resto_storefronts_path %>
